body {
    background-image: url(PERFIL1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    h1 {
        font-family: monospace;
        color: #fefae0;
        font-size: 50px;
    
    }
    #text{
        margin-top: 300px;
    }
