body {
    background-image: url(PERFIL1.jpg);
    background-size: 60%;

    }
    
    h1 {
        font-family: 'Courier New', monospace;
        color: #333d29;
    
    }
    
    #letradescricao {
        font-family:  monospace;
    }
    
    #destacar {
        font-size: 20px;
    }
    
    #eu2 {
        background-color: #6b705c;
    }
    
    #mudarcor {
        color: #6b705c;
    }
    
    #outracor {
        color: #283618;
    } 
 
   #nome1 {
       position: absolute;
       overflow: visible;
       z-index: 2;
       margin-top: 200px;
       padding-top: 10px;

   }
   #corpo {
       margin-top: 500px;
       position: absolute;
   }
