body {
    background-image: url(PERFIL1.jpg);
    }
    
    h1 {
        font-family: 'Courier New', monospace;
        color: #333d29;
    
    }
    
    #letradescricao {
        font-family:  monospace;
    }
    
    #destacar {
        font-size: 20px;
    }
    
    #eu2 {
        background-color: #6b705c;
    }
    
    #mudarcor {
        color: #6b705c;
    }
    
    #outracor {
        color: #283618;
    } 
   #foto {
       margin-top: -80px;
       z-index: 1;
   }
   #nome1 {
       position: absolute;
       overflow: visible;
       border-top: 5px;
       z-index: 2;
   }
   #corpo {
       margin-top: 500px;
       position: absolute;
   }
